/* This stylizes the page defaults */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    background: radial-gradient(#2b2b2b, #000);
    font-family: "adriane", serif;
    color: #301a0b
}

.websites a {
    text-decoration: none;
    color: #301a0b;
    transition: .5s;
}

.websites a:hover {
    color: #ffd050;
    letter-spacing: 1px;
    font-weight: bold;
}

/* This stylizes the header area */
.header {
    padding: 15px;
}
.header h1 {
    display: inline-block;
    color: white;
    font-family: "titular", sans-serif;
    font-weight: 700;
    font-size: 400%
}

/* This stylizes the main page area */
.main {
    background-color: #7c0025;
    padding: 40px 0;
}

/* This stylizes the poster area and poster images */
.thumbnail {
    border: 0px;
    position: relative;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 20px #330106;
    background-color:#fff6ce;
}
.thumbnail img {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 5px;
    border: 2px dashed #f1ae55;
    transition: .5s
}

.thumbnail img:hover {
    transform: scale(1.05);
    box-shadow: #4b371c 0 0 10px;
}

/* This stylizes your "Poster X of Y" text */
.imageInfo {
	color: #959595;
	font-style: italic;
	font-size: x-small;
	float: right;
	padding-right: 5px;
}

.poster {
    height: 750px;
    width: 100%
}

/* This stylizes your Title and Rating Text */
.title,
.released {
    color: #301a0b;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.released,
.rated {
    color: #301a0b;
    font-size: 14px;
    font-weight: 200;
}

/* This shapes your IMDB score area */
.score {
    background-color: #ffd050;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 200;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    position: absolute;
    top: 50px;
    right: 25px;
    border-radius: 100%;
    transition: .5s;
}

.score:hover {
    background-color: #39D1B4;
}

/* This contains your like and dislike buttons */
.social {
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    left: -40px;
    top: -20px;
}

/* This shapes your like and dislike buttons */
.likes,
.dislikes {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    min-width: 70px;
    height: 40px;
    border-radius: 50%;
    margin: 0 -30px 0 40px;
    text-align: center;
    font-weight: 200;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 500ms;
}

/* This makes sure your Github Button is centered */
.footer {
    text-align: center;
    margin: 80px 0 110px;
}

/* This makes sure your Github Button text is small */
#github{
	font-size: small;
}

/* ADD YOUR LIKE AND DISLIKE HOVER/MOUSEOVER CSS CODE HERE */
.likes:hover {
    background-color: #ffd050;
    color: #9b3900;
    font-weight: bold;
    border: #6cffa4 solid 3px;
}

.dislikes:hover {
    background-color: #bb1c00;
    color: #fff3cc;
    font-weight: bold;
    border: #ff2f2f solid 3px;
}